<header class="header_header">
    <nav>
        <ul class="header_ul">
            <li>
                <a href="{% url 'front_page' %}" class="header_a">首頁</a>
            </li>
            <li>
                <a href="{% url 'all_products' %} " class="header_a">所有商品</a>
            </li>
            <li>
                <a href="{% url 'shopcart' %}" class="header_a">購物車</a>
            </li>
            <li>
                <a href="{% url 'admin_page' %}" class="header_a">管理員登入</a>
            </li>
        </ul>
    </nav>
</header>